@charset "UTF-8";
/* line 13, ../sass/style.scss */
.sm {
  display: none !important;
}

@media screen and (max-width: 768px) {
  /* line 17, ../sass/style.scss */
  .sm {
    display: block !important;
  }

  /* line 20, ../sass/style.scss */
  .md {
    display: none !important;
  }
}
/* line 24, ../sass/style.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../sass/style.scss */
body {
  font-family: 'Lato', 'Noto Sans JP', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  width: 100%;
  color: #000;
}

/* line 33, ../sass/style.scss */
.wrap {
  overflow: hidden;
}

/* line 36, ../sass/style.scss */
a {
  text-decoration: none;
  transition: 0.3s;
}

/* line 40, ../sass/style.scss */
ul {
  list-style: none;
}

/* line 43, ../sass/style.scss */
.inner {
  max-width: 980px;
  margin: 0 auto;
  padding-top: 70px;
}
@media screen and (max-width: 768px) {
  /* line 43, ../sass/style.scss */
  .inner {
    width: 92%;
    padding-top: 30px;
  }
}

/* line 52, ../sass/style.scss */
.sec_ttl {
  text-align: center;
  color: #2ba052;
  margin-bottom: 49px;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 52, ../sass/style.scss */
  .sec_ttl {
    margin-bottom: 30px;
  }
}
/* line 60, ../sass/style.scss */
.sec_ttl h2 {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 10px;
  background-color: #FFF;
  font-weight: 300;
  font-size: 60px;
  margin-bottom: 22px;
}
@media screen and (max-width: 768px) {
  /* line 60, ../sass/style.scss */
  .sec_ttl h2 {
    font-size: 34px;
    margin-bottom: 5px;
  }
}
/* line 74, ../sass/style.scss */
.sec_ttl span {
  display: block;
}
/* line 77, ../sass/style.scss */
.sec_ttl::after {
  content: '';
  display: block;
  width: 100vw;
  height: 1px;
  background-color: #e8801a;
  position: absolute;
  left: calc((980px - 100vw) / 2);
  top: 34%;
}
@media screen and (max-width: 1080px) {
  /* line 77, ../sass/style.scss */
  .sec_ttl::after {
    left: -4vw;
  }
}

/* line 91, ../sass/style.scss */
img {
  vertical-align: bottom;
}

/* line 95, ../sass/style.scss */
header {
  height: 100px;
  width: 100%;
  background-color: #FFF;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  /* line 95, ../sass/style.scss */
  header {
    height: 50px;
    padding: 0 0 0 10px;
  }
}
/* line 108, ../sass/style.scss */
header .inner {
  max-width: initial;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-top: 0;
}
@media screen and (max-width: 768px) {
  /* line 108, ../sass/style.scss */
  header .inner {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* line 119, ../sass/style.scss */
  header .inner .header_logo img {
    width: 200px;
  }
}
@media screen and (max-width: 768px) {
  /* line 125, ../sass/style.scss */
  header .inner .menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: rgba(43, 160, 82, 0.9);
  }
}
/* line 134, ../sass/style.scss */
header .inner .menu ul {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  /* line 134, ../sass/style.scss */
  header .inner .menu ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }
}
/* line 143, ../sass/style.scss */
header .inner .menu ul li {
  margin-right: 49px;
}
@media screen and (max-width: 768px) {
  /* line 143, ../sass/style.scss */
  header .inner .menu ul li {
    width: 100%;
    margin-right: 0;
    text-align: center;
    padding: 16px;
  }
}
/* line 151, ../sass/style.scss */
header .inner .menu ul li:first-child {
  font-size: 14px;
}
/* line 154, ../sass/style.scss */
header .inner .menu ul li:last-child {
  margin-right: 0;
  font-size: 18px;
}
/* line 157, ../sass/style.scss */
header .inner .menu ul li:last-child a {
  color: #FFF;
  display: inline-block;
  padding: 14px 52px;
  background-color: #2ba052;
}
@media screen and (max-width: 768px) {
  /* line 157, ../sass/style.scss */
  header .inner .menu ul li:last-child a {
    color: #2ba052;
    background-color: #FFF;
    width: 100%;
  }
}
/* line 167, ../sass/style.scss */
header .inner .menu ul li:last-child a::after {
  display: none;
}
/* line 170, ../sass/style.scss */
header .inner .menu ul li:last-child a:hover {
  background-color: #e8801a;
  border-bottom: none;
}
@media screen and (max-width: 768px) {
  /* line 170, ../sass/style.scss */
  header .inner .menu ul li:last-child a:hover {
    color: #FFF;
  }
}
/* line 179, ../sass/style.scss */
header .inner .menu ul li a {
  color: #2ba052;
  display: inline-block;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 179, ../sass/style.scss */
  header .inner .menu ul li a {
    color: #FFF;
    display: block;
  }
}
/* line 187, ../sass/style.scss */
header .inner .menu ul li a::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #2ba052;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
@media screen and (max-width: 768px) {
  /* line 187, ../sass/style.scss */
  header .inner .menu ul li a::after {
    display: none;
  }
}
/* line 203, ../sass/style.scss */
header .inner .menu ul li a:hover::after {
  bottom: -9px;
  opacity: 1;
  visibility: visible;
}
/* line 213, ../sass/style.scss */
header .inner .menu_ham {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #2ba052;
}
@media screen and (max-width: 768px) {
  /* line 213, ../sass/style.scss */
  header .inner .menu_ham {
    display: block;
  }
}
/* line 223, ../sass/style.scss */
header .inner .menu_ham .ham_line {
  position: absolute;
  left: 12.5px;
  width: 25px;
  height: 1px;
  background-color: #FFF;
  transition: all 0.3s;
}
/* line 231, ../sass/style.scss */
header .inner .menu_ham .ham_line1 {
  top: 17px;
}
/* line 234, ../sass/style.scss */
header .inner .menu_ham .ham_line2 {
  top: 25px;
}
/* line 237, ../sass/style.scss */
header .inner .menu_ham .ham_line3 {
  top: 33px;
}
/* line 240, ../sass/style.scss */
header .inner .menu_ham .active.ham_line1 {
  transform: rotate(45deg);
  top: 25px;
}
/* line 244, ../sass/style.scss */
header .inner .menu_ham .active.ham_line2 {
  width: 0;
}
/* line 247, ../sass/style.scss */
header .inner .menu_ham .active.ham_line3 {
  transform: rotate(-45deg);
  top: 25px;
}

/* line 255, ../sass/style.scss */
#kv {
  padding: 100px 40px 0;
}
@media screen and (max-width: 768px) {
  /* line 255, ../sass/style.scss */
  #kv {
    padding: 50px 0 0;
  }
}
/* line 260, ../sass/style.scss */
#kv .inner {
  padding: 0 0 10px 0;
  max-width: initial;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 260, ../sass/style.scss */
  #kv .inner {
    width: 100%;
  }
}
/* line 269, ../sass/style.scss */
#kv .inner .kv_slider li img {
  width: 100%;
}
/* line 274, ../sass/style.scss */
#kv .inner .ttl {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  /* line 274, ../sass/style.scss */
  #kv .inner .ttl {
    top: calc(50% - 24px);
  }
}
/* line 282, ../sass/style.scss */
#kv .inner .ttl h1 {
  font-weight: 300;
}
/* line 284, ../sass/style.scss */
#kv .inner .ttl h1 span {
  display: inline-block;
  padding: 22px 45px;
  font-size: 60px;
  color: #FFF;
  background-color: #2ba052;
}
@media screen and (max-width: 768px) {
  /* line 284, ../sass/style.scss */
  #kv .inner .ttl h1 span {
    font-size: 28px;
    padding: 8px 12px;
  }
}
/* line 294, ../sass/style.scss */
#kv .inner .ttl h1 span:first-child {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  /* line 294, ../sass/style.scss */
  #kv .inner .ttl h1 span:first-child {
    margin-bottom: 10px;
  }
}
/* line 303, ../sass/style.scss */
#kv .inner .scroll {
  margin-top: 19px;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  /* line 303, ../sass/style.scss */
  #kv .inner .scroll {
    margin-top: 10px;
  }
}
/* line 311, ../sass/style.scss */
#kv .inner .scroll p {
  color: #2ba052;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  /* line 311, ../sass/style.scss */
  #kv .inner .scroll p {
    font-size: 12px;
  }
}
/* line 318, ../sass/style.scss */
#kv .inner .scroll img {
  width: 13px;
}
@media screen and (max-width: 768px) {
  /* line 318, ../sass/style.scss */
  #kv .inner .scroll img {
    width: 11px;
  }
}
/* line 324, ../sass/style.scss */
#kv .inner .scroll:hover {
  opacity: 0.7;
}

/* line 331, ../sass/style.scss */
#sec_01 {
  padding: 0 40px 100px;
}
@media screen and (max-width: 768px) {
  /* line 331, ../sass/style.scss */
  #sec_01 {
    padding: 0 0 50px;
  }
}
/* line 337, ../sass/style.scss */
#sec_01 .inner .sub_ttl {
  color: #2ba052;
  margin-bottom: 36px;
}
/* line 340, ../sass/style.scss */
#sec_01 .inner .sub_ttl h3 {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 8px;
}
@media screen and (max-width: 768px) {
  /* line 340, ../sass/style.scss */
  #sec_01 .inner .sub_ttl h3 {
    font-size: 30px;
    margin-bottom: 4px;
  }
}
/* line 349, ../sass/style.scss */
#sec_01 .inner .sub_ttl span {
  font-size: 14px;
}
/* line 352, ../sass/style.scss */
#sec_01 .inner .sub_ttl::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e8801a;
  position: relative;
  top: 15px;
}
@media screen and (max-width: 768px) {
  /* line 352, ../sass/style.scss */
  #sec_01 .inner .sub_ttl::after {
    top: 10px;
  }
}
/* line 366, ../sass/style.scss */
#sec_01 .inner .shop_list .item_list {
  display: flex;
  flex-wrap: wrap;
}
/* line 369, ../sass/style.scss */
#sec_01 .inner .shop_list .item_list .item {
  width: calc(100% / 4 - 15px);
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  /* line 369, ../sass/style.scss */
  #sec_01 .inner .shop_list .item_list .item {
    width: calc(100% / 2 - 6px);
    margin-right: 12px;
    margin-bottom: 12px;
  }
  /* line 380, ../sass/style.scss */
  #sec_01 .inner .shop_list .item_list .item:nth-child(2n) {
    margin-right: 0;
  }
}
/* line 384, ../sass/style.scss */
#sec_01 .inner .shop_list .item_list .item:hover {
  opacity: 0.7;
}
/* line 387, ../sass/style.scss */
#sec_01 .inner .shop_list .item_list .item:nth-child(4n) {
  margin-right: 0;
}
/* line 390, ../sass/style.scss */
#sec_01 .inner .shop_list .item_list .item img {
  width: 100%;
}
/* line 393, ../sass/style.scss */
#sec_01 .inner .shop_list .item_list .item .detail {
  font-size: 14px;
  background-color: rgba(232, 128, 26, 0.9);
  position: absolute;
  left: 0;
  bottom: 24px;
  width: 100%;
  height: 35px;
  line-height: 35px;
}
@media screen and (max-width: 768px) {
  /* line 393, ../sass/style.scss */
  #sec_01 .inner .shop_list .item_list .item .detail {
    bottom: 12px;
  }
}
/* line 405, ../sass/style.scss */
#sec_01 .inner .shop_list .item_list .item .detail span {
  color: #2ba052;
  z-index: 2;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #FFF;
  line-height: 50px;
  text-align: center;
  top: -8px;
  margin-left: 10px;
}
/* line 419, ../sass/style.scss */
#sec_01 .inner .shop_list .item_list .item .detail p {
  display: inline;
  position: relative;
  color: #FFF;
  margin-left: 10px;
  top: -8px;
}
@media screen and (max-width: 768px) {
  /* line 419, ../sass/style.scss */
  #sec_01 .inner .shop_list .item_list .item .detail p {
    font-size: 10px;
  }
}
/* line 429, ../sass/style.scss */
#sec_01 .inner .shop_list .item_list .item .detail .two_rows {
  position: absolute;
  left: 62px;
  top: 2px;
  line-height: 16px;
}
/* line 439, ../sass/style.scss */
#sec_01 .inner .job_type {
  margin-top: 70px;
}
@media screen and (max-width: 768px) {
  /* line 439, ../sass/style.scss */
  #sec_01 .inner .job_type {
    margin-top: 30px;
  }
}
/* line 444, ../sass/style.scss */
#sec_01 .inner .job_type .item_list {
  display: flex;
  flex-wrap: wrap;
}
/* line 447, ../sass/style.scss */
#sec_01 .inner .job_type .item_list .item {
  background-color: #2ba052;
  color: #FFF;
  width: calc(100% / 4 - 15px);
  height: 260px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 24px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 447, ../sass/style.scss */
  #sec_01 .inner .job_type .item_list .item {
    width: calc(100% / 2 - 6px);
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 14px 10px 10px 10px;
    height: auto;
  }
  /* line 465, ../sass/style.scss */
  #sec_01 .inner .job_type .item_list .item:nth-child(2n) {
    margin-right: 0;
  }
}
/* line 469, ../sass/style.scss */
#sec_01 .inner .job_type .item_list .item:nth-child(4n) {
  margin-right: 0;
}
/* line 472, ../sass/style.scss */
#sec_01 .inner .job_type .item_list .item .item_ttl {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 478, ../sass/style.scss */
#sec_01 .inner .job_type .item_list .item .item_ttl .two_rows {
  line-height: 24px;
}
/* line 481, ../sass/style.scss */
#sec_01 .inner .job_type .item_list .item .item_ttl h4 {
  display: inline-block;
  height: 60px;
  font-size: 18px;
  line-height: 46px;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 481, ../sass/style.scss */
  #sec_01 .inner .job_type .item_list .item .item_ttl h4 {
    height: 55px;
    font-size: 15px;
    line-height: 40px;
  }
}
/* line 492, ../sass/style.scss */
#sec_01 .inner .job_type .item_list .item .item_ttl h4::after {
  content: '';
  width: 30px;
  height: 1px;
  background-color: #d5ecdc;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
/* line 504, ../sass/style.scss */
#sec_01 .inner .job_type .item_list .item .detail {
  z-index: 1;
}
/* line 506, ../sass/style.scss */
#sec_01 .inner .job_type .item_list .item .detail p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 16px;
}
/* line 512, ../sass/style.scss */
#sec_01 .inner .job_type .item_list .item .job_list {
  margin-top: auto;
  z-index: 1;
}
/* line 515, ../sass/style.scss */
#sec_01 .inner .job_type .item_list .item .job_list a {
  display: inline-block;
  background-color: #FFF;
  color: #2ba052;
  text-align: center;
  padding: 4px;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
  line-height: 22px;
  position: relative;
}
/* line 526, ../sass/style.scss */
#sec_01 .inner .job_type .item_list .item .job_list a::before {
  content: '';
  display: block;
  width: 25px;
  height: 1px;
  background-color: #2ba052;
  position: absolute;
  right: 10px;
  bottom: 12px;
  transition: 0.3s;
}
/* line 537, ../sass/style.scss */
#sec_01 .inner .job_type .item_list .item .job_list a::after {
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  background-color: #2ba052;
  transform: rotateZ(45deg);
  position: absolute;
  right: 9px;
  bottom: 16px;
  transition: 0.3s;
}
/* line 549, ../sass/style.scss */
#sec_01 .inner .job_type .item_list .item .job_list a:hover {
  background-color: #e8801a;
  color: #FFF;
}
/* line 552, ../sass/style.scss */
#sec_01 .inner .job_type .item_list .item .job_list a:hover::before {
  background-color: #FFF;
}
/* line 555, ../sass/style.scss */
#sec_01 .inner .job_type .item_list .item .job_list a:hover::after {
  background-color: #FFF;
}
/* line 561, ../sass/style.scss */
#sec_01 .inner .job_type .item_list .item .img {
  position: absolute;
  left: 0;
  bottom: 0;
}
/* line 565, ../sass/style.scss */
#sec_01 .inner .job_type .item_list .item .img img {
  width: 70%;
}
/* line 572, ../sass/style.scss */
#sec_01 .inner .work_type {
  margin-top: 30px;
}
/* line 574, ../sass/style.scss */
#sec_01 .inner .work_type .item_list {
  display: flex;
  flex-wrap: wrap;
}
/* line 577, ../sass/style.scss */
#sec_01 .inner .work_type .item_list .item {
  width: calc(100% / 3  - (40px / 3));
  height: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 100px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  /* line 577, ../sass/style.scss */
  #sec_01 .inner .work_type .item_list .item {
    width: 100%;
    height: 90px;
    line-height: 90px;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
/* line 591, ../sass/style.scss */
#sec_01 .inner .work_type .item_list .item:nth-child(3n) {
  margin-right: 0;
}
/* line 594, ../sass/style.scss */
#sec_01 .inner .work_type .item_list .item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #006f40;
  background-color: #d5ecdc;
  font-size: 20px;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 594, ../sass/style.scss */
  #sec_01 .inner .work_type .item_list .item a {
    font-size: 18px;
  }
}
/* line 605, ../sass/style.scss */
#sec_01 .inner .work_type .item_list .item a::before {
  content: '';
  display: block;
  width: 75px;
  height: 1px;
  background-color: #2ba052;
  position: absolute;
  right: 10px;
  bottom: 10px;
  transition: 0.3s;
}
/* line 616, ../sass/style.scss */
#sec_01 .inner .work_type .item_list .item a::after {
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  background-color: #2ba052;
  transform: rotateZ(45deg);
  position: absolute;
  right: 9px;
  bottom: 14px;
  transition: 0.3s;
}
/* line 628, ../sass/style.scss */
#sec_01 .inner .work_type .item_list .item a:hover {
  color: #FFF;
  background-color: #2ba052;
}
/* line 631, ../sass/style.scss */
#sec_01 .inner .work_type .item_list .item a:hover::before {
  background-color: #FFF;
}
/* line 634, ../sass/style.scss */
#sec_01 .inner .work_type .item_list .item a:hover::after {
  background-color: #FFF;
}
/* line 642, ../sass/style.scss */
#sec_01 .inner .employment_status {
  margin-top: 30px;
}
/* line 644, ../sass/style.scss */
#sec_01 .inner .employment_status .item_list {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  /* line 644, ../sass/style.scss */
  #sec_01 .inner .employment_status .item_list {
    flex-wrap: wrap;
  }
}
/* line 650, ../sass/style.scss */
#sec_01 .inner .employment_status .item_list .item {
  width: 313px;
  height: 100px;
  margin-right: 20px;
  line-height: 100px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  /* line 650, ../sass/style.scss */
  #sec_01 .inner .employment_status .item_list .item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    height: 90px;
    line-height: 90px;
  }
}
/* line 663, ../sass/style.scss */
#sec_01 .inner .employment_status .item_list .item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  /* line 663, ../sass/style.scss */
  #sec_01 .inner .employment_status .item_list .item:last-child {
    margin-bottom: 0;
  }
}
/* line 669, ../sass/style.scss */
#sec_01 .inner .employment_status .item_list .item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #FFF;
  background-color: #2ba052;
  font-size: 20px;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 669, ../sass/style.scss */
  #sec_01 .inner .employment_status .item_list .item a {
    font-size: 18px;
  }
}
/* line 680, ../sass/style.scss */
#sec_01 .inner .employment_status .item_list .item a::before {
  content: '';
  display: block;
  width: 75px;
  height: 1px;
  background-color: #FFF;
  position: absolute;
  right: 10px;
  bottom: 10px;
  transition: 0.3s;
}
/* line 691, ../sass/style.scss */
#sec_01 .inner .employment_status .item_list .item a::after {
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  background-color: #FFF;
  transform: rotateZ(45deg);
  position: absolute;
  right: 9px;
  bottom: 14px;
  transition: 0.3s;
}
/* line 703, ../sass/style.scss */
#sec_01 .inner .employment_status .item_list .item a:hover {
  color: #006f40;
  background-color: #d5ecdc;
}
/* line 706, ../sass/style.scss */
#sec_01 .inner .employment_status .item_list .item a:hover::before {
  background-color: #006f40;
}
/* line 709, ../sass/style.scss */
#sec_01 .inner .employment_status .item_list .item a:hover::after {
  background-color: #006f40;
}

/* line 720, ../sass/style.scss */
#sec_02 {
  padding: 0 40px;
  background-color: #2ba052;
}
@media screen and (max-width: 768px) {
  /* line 720, ../sass/style.scss */
  #sec_02 {
    padding: 0;
  }
}
/* line 726, ../sass/style.scss */
#sec_02 .inner {
  padding-bottom: 100px;
}
@media screen and (max-width: 768px) {
  /* line 726, ../sass/style.scss */
  #sec_02 .inner {
    padding-bottom: 50px;
  }
}
/* line 732, ../sass/style.scss */
#sec_02 .inner .sec_ttl h2 {
  color: #FFF;
  background-color: #2ba052;
}
/* line 736, ../sass/style.scss */
#sec_02 .inner .sec_ttl span {
  color: #FFF;
}
/* line 739, ../sass/style.scss */
#sec_02 .inner .sec_ttl::after {
  background-color: #FFF;
}
/* line 743, ../sass/style.scss */
#sec_02 .inner .box_list {
  display: flex;
  flex-wrap: wrap;
}
/* line 746, ../sass/style.scss */
#sec_02 .inner .box_list .box {
  padding: 30px 20px 30px 30px;
}
@media screen and (max-width: 768px) {
  /* line 746, ../sass/style.scss */
  #sec_02 .inner .box_list .box {
    padding: 20px 10px 20px 20px;
  }
  /* line 750, ../sass/style.scss */
  #sec_02 .inner .box_list .box:last-child {
    margin-bottom: 0;
  }
}
/* line 754, ../sass/style.scss */
#sec_02 .inner .box_list .box:nth-child(odd) {
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  /* line 754, ../sass/style.scss */
  #sec_02 .inner .box_list .box:nth-child(odd) {
    margin-right: 0;
  }
}
/* line 761, ../sass/style.scss */
#sec_02 .inner .box_list .sub_ttl {
  text-align: center;
}
/* line 763, ../sass/style.scss */
#sec_02 .inner .box_list .sub_ttl h3 {
  color: #e8801a;
  font-size: 24px;
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  /* line 763, ../sass/style.scss */
  #sec_02 .inner .box_list .sub_ttl h3 {
    font-size: 22px;
  }
}
/* line 772, ../sass/style.scss */
#sec_02 .inner .box_list .box_01 {
  width: calc(100% / 2 - 20px);
  height: 444px;
  background-color: #FFF;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  /* line 772, ../sass/style.scss */
  #sec_02 .inner .box_list .box_01 {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}
/* line 782, ../sass/style.scss */
#sec_02 .inner .box_list .box_01 .img {
  width: 100%;
}
/* line 784, ../sass/style.scss */
#sec_02 .inner .box_list .box_01 .img img {
  width: 100%;
}
/* line 788, ../sass/style.scss */
#sec_02 .inner .box_list .box_01 .sub_ttl {
  margin: 16px 0;
}
/* line 792, ../sass/style.scss */
#sec_02 .inner .box_list .box_01 .detail p {
  color: #006f40;
  line-height: 24px;
}
/* line 798, ../sass/style.scss */
#sec_02 .inner .box_list .box_02 {
  width: calc(100% / 2 - 20px);
  height: 331px;
  background-color: #FFF;
}
@media screen and (max-width: 768px) {
  /* line 798, ../sass/style.scss */
  #sec_02 .inner .box_list .box_02 {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}
/* line 807, ../sass/style.scss */
#sec_02 .inner .box_list .box_02 .sub_ttl {
  margin-bottom: 10px;
}
/* line 812, ../sass/style.scss */
#sec_02 .inner .box_list .box_02 .item_list .item:first-child {
  margin-bottom: 20px;
}
/* line 815, ../sass/style.scss */
#sec_02 .inner .box_list .box_02 .item_list .item .item_ttl {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #2ba052;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100%;
}
/* line 822, ../sass/style.scss */
#sec_02 .inner .box_list .box_02 .item_list .item .item_ttl img {
  width: 59px;
}
@media screen and (max-width: 768px) {
  /* line 822, ../sass/style.scss */
  #sec_02 .inner .box_list .box_02 .item_list .item .item_ttl img {
    width: 50px;
  }
}
/* line 828, ../sass/style.scss */
#sec_02 .inner .box_list .box_02 .item_list .item .item_ttl h4 {
  color: #006f40;
  font-weight: normal;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  /* line 828, ../sass/style.scss */
  #sec_02 .inner .box_list .box_02 .item_list .item .item_ttl h4 {
    font-size: 18px;
  }
}
/* line 840, ../sass/style.scss */
#sec_02 .inner .box_list .box_02 .item_list .item .detail p {
  color: #006f40;
  line-height: 24px;
}
@media screen and (max-width: 768px) {
  /* line 840, ../sass/style.scss */
  #sec_02 .inner .box_list .box_02 .item_list .item .detail p {
    line-height: 20px;
    font-size: 15px;
  }
}

/* line 856, ../sass/style.scss */
#sec_03 {
  padding: 0 40px 100px;
}
@media screen and (max-width: 768px) {
  /* line 856, ../sass/style.scss */
  #sec_03 {
    padding: 0 0 50px;
  }
}
/* line 863, ../sass/style.scss */
#sec_03 .inner .sec_ttl span {
  color: #006f40;
}
/* line 868, ../sass/style.scss */
#sec_03 .inner .question_list .item {
  border-bottom: 1px solid #006f40;
  padding-bottom: 20px;
  display: flex;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  /* line 868, ../sass/style.scss */
  #sec_03 .inner .question_list .item {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}
/* line 877, ../sass/style.scss */
#sec_03 .inner .question_list .item .num {
  font-size: 48px;
  color: #e8801a;
  font-weight: 300;
  margin-right: 14px;
}
@media screen and (max-width: 768px) {
  /* line 877, ../sass/style.scss */
  #sec_03 .inner .question_list .item .num {
    font-size: 30px;
  }
}
/* line 886, ../sass/style.scss */
#sec_03 .inner .question_list .item .detail {
  color: #006f40;
  margin-top: 16px;
}
@media screen and (max-width: 768px) {
  /* line 886, ../sass/style.scss */
  #sec_03 .inner .question_list .item .detail {
    margin-top: 5px;
  }
}
/* line 892, ../sass/style.scss */
#sec_03 .inner .question_list .item .detail .question {
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  /* line 892, ../sass/style.scss */
  #sec_03 .inner .question_list .item .detail .question {
    margin-bottom: 15px;
  }
}
/* line 897, ../sass/style.scss */
#sec_03 .inner .question_list .item .detail .question p {
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  /* line 897, ../sass/style.scss */
  #sec_03 .inner .question_list .item .detail .question p {
    font-size: 16px;
  }
}
/* line 904, ../sass/style.scss */
#sec_03 .inner .question_list .item .detail .answer {
  margin-top: -4px;
}
/* line 906, ../sass/style.scss */
#sec_03 .inner .question_list .item .detail .answer p {
  font-size: 16px;
  line-height: 28px;
}
@media screen and (max-width: 768px) {
  /* line 906, ../sass/style.scss */
  #sec_03 .inner .question_list .item .detail .answer p {
    font-size: 14px;
    line-height: 20px;
  }
}

/* line 921, ../sass/style.scss */
#sec_04 {
  background-color: #d5ecdc;
  padding-bottom: 0;
}
@media screen and (max-width: 768px) {
  /* line 921, ../sass/style.scss */
  #sec_04 {
    padding: 0;
  }
}
/* line 927, ../sass/style.scss */
#sec_04 .inner {
  padding-bottom: 70px;
}
@media screen and (max-width: 768px) {
  /* line 927, ../sass/style.scss */
  #sec_04 .inner {
    padding-bottom: 50px;
  }
}
/* line 932, ../sass/style.scss */
#sec_04 .inner .sec_ttl {
  color: #006f40;
}
@media screen and (max-width: 768px) {
  /* line 932, ../sass/style.scss */
  #sec_04 .inner .sec_ttl {
    margin-bottom: 20px;
  }
}
/* line 937, ../sass/style.scss */
#sec_04 .inner .sec_ttl h2 {
  background-color: #d5ecdc;
}
/* line 940, ../sass/style.scss */
#sec_04 .inner .sec_ttl::after {
  background-color: #006f40;
}
/* line 944, ../sass/style.scss */
#sec_04 .inner .table_list {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  /* line 944, ../sass/style.scss */
  #sec_04 .inner .table_list {
    flex-direction: column;
  }
}
/* line 950, ../sass/style.scss */
#sec_04 .inner .table_list table {
  color: #006f40;
  width: calc(100% / 2 - 20px);
}
@media screen and (max-width: 768px) {
  /* line 950, ../sass/style.scss */
  #sec_04 .inner .table_list table {
    width: 100%;
    font-size: 14px;
  }
}
/* line 957, ../sass/style.scss */
#sec_04 .inner .table_list table:last-child {
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  /* line 957, ../sass/style.scss */
  #sec_04 .inner .table_list table:last-child {
    margin-left: 0;
  }
}
/* line 963, ../sass/style.scss */
#sec_04 .inner .table_list table tr {
  border-bottom: 1px solid #80c697;
}
@media screen and (max-width: 768px) {
  /* line 963, ../sass/style.scss */
  #sec_04 .inner .table_list table tr {
    display: block;
  }
}
/* line 968, ../sass/style.scss */
#sec_04 .inner .table_list table tr th {
  padding: 16px 10px;
  text-align-last: left;
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  /* line 968, ../sass/style.scss */
  #sec_04 .inner .table_list table tr th {
    display: block;
    padding: 12px 6px;
  }
}
@media screen and (max-width: 768px) {
  /* line 977, ../sass/style.scss */
  #sec_04 .inner .table_list table tr td {
    display: block;
    padding-left: 6px;
    padding-bottom: 12px;
  }
}

/* line 991, ../sass/style.scss */
.google_map iframe {
  vertical-align: bottom;
  width: 100vw;
}
@media screen and (max-width: 768px) {
  /* line 991, ../sass/style.scss */
  .google_map iframe {
    height: 300px;
  }
}

/* line 1000, ../sass/style.scss */
footer {
  padding: 0 40px;
  background-color: #2ba052;
  height: 60px;
}
@media screen and (max-width: 768px) {
  /* line 1000, ../sass/style.scss */
  footer {
    height: 50px;
    padding: 0;
  }
}
/* line 1008, ../sass/style.scss */
footer .inner {
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #FFF;
}
@media screen and (max-width: 768px) {
  /* line 1008, ../sass/style.scss */
  footer .inner {
    font-size: 11px;
    flex-direction: column-reverse;
    justify-content: center;
    line-height: initial;
  }
}
/* line 1022, ../sass/style.scss */
footer .inner a {
  color: #FFF;
}
@media screen and (max-width: 768px) {
  /* line 1025, ../sass/style.scss */
  footer .inner .footer_left {
    margin-bottom: 4px;
  }
}

/* line 1034, ../sass/style.scss */
#modal_sec .inner {
  padding: 0;
}
/* line 1037, ../sass/style.scss */
#modal_sec .inner .modals .modal {
  display: none;
  width: 100%;
  max-width: 980px;
  position: fixed;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
}
@media screen and (max-width: 768px) {
  /* line 1037, ../sass/style.scss */
  #modal_sec .inner .modals .modal {
    width: 92%;
    height: 90%;
    top: 40px;
    transform: translateX(-50%);
  }
}
/* line 1053, ../sass/style.scss */
#modal_sec .inner .modals .modal .flex {
  display: flex;
}
@media screen and (max-width: 768px) {
  /* line 1053, ../sass/style.scss */
  #modal_sec .inner .modals .modal .flex {
    flex-direction: column;
    height: 70%;
  }
}
/* line 1059, ../sass/style.scss */
#modal_sec .inner .modals .modal .flex .img {
  width: 50%;
}
@media screen and (max-width: 768px) {
  /* line 1059, ../sass/style.scss */
  #modal_sec .inner .modals .modal .flex .img {
    width: 100%;
  }
}
/* line 1064, ../sass/style.scss */
#modal_sec .inner .modals .modal .flex .img img {
  width: 100%;
  vertical-align: top;
}
/* line 1069, ../sass/style.scss */
#modal_sec .inner .modals .modal .flex .txt {
  width: 50%;
  padding: 30px 30px 20px 30px;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 1069, ../sass/style.scss */
  #modal_sec .inner .modals .modal .flex .txt {
    width: 100%;
    height: 100%;
    padding: 15px 10px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
/* line 1081, ../sass/style.scss */
#modal_sec .inner .modals .modal .flex .txt .modal_ttl {
  margin-bottom: 26px;
}
@media screen and (max-width: 768px) {
  /* line 1081, ../sass/style.scss */
  #modal_sec .inner .modals .modal .flex .txt .modal_ttl {
    margin-bottom: 10px;
    text-align: center;
  }
}
/* line 1087, ../sass/style.scss */
#modal_sec .inner .modals .modal .flex .txt .modal_ttl p {
  font-size: 30px;
  color: #006f40;
}
@media screen and (max-width: 768px) {
  /* line 1087, ../sass/style.scss */
  #modal_sec .inner .modals .modal .flex .txt .modal_ttl p {
    font-size: 20px;
  }
}
/* line 1095, ../sass/style.scss */
#modal_sec .inner .modals .modal .flex .txt .header {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  /* line 1095, ../sass/style.scss */
  #modal_sec .inner .modals .modal .flex .txt .header {
    margin-bottom: 5px;
  }
}
/* line 1100, ../sass/style.scss */
#modal_sec .inner .modals .modal .flex .txt .header p {
  display: inline-block;
  background-color: #2ba052;
  color: #FFF;
  padding: 8px 25px;
}
@media screen and (max-width: 768px) {
  /* line 1100, ../sass/style.scss */
  #modal_sec .inner .modals .modal .flex .txt .header p {
    font-size: 15px;
  }
}
/* line 1111, ../sass/style.scss */
#modal_sec .inner .modals .modal .flex .txt .detail p {
  color: #006f40;
  line-height: 28px;
}
@media screen and (max-width: 768px) {
  /* line 1111, ../sass/style.scss */
  #modal_sec .inner .modals .modal .flex .txt .detail p {
    font-size: 14px;
    line-height: 1.3;
  }
}
/* line 1121, ../sass/style.scss */
#modal_sec .inner .modals .modal .flex .txt .location .detail {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  /* line 1121, ../sass/style.scss */
  #modal_sec .inner .modals .modal .flex .txt .location .detail {
    margin-bottom: 1.2vh;
  }
}
/* line 1128, ../sass/style.scss */
#modal_sec .inner .modals .modal .flex .txt .tel {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  /* line 1128, ../sass/style.scss */
  #modal_sec .inner .modals .modal .flex .txt .tel {
    margin-top: 0px;
  }
}
/* line 1134, ../sass/style.scss */
#modal_sec .inner .modals .modal .flex .txt .work_list {
  position: absolute;
  right: 30px;
  bottom: 20px;
}
@media screen and (max-width: 768px) {
  /* line 1134, ../sass/style.scss */
  #modal_sec .inner .modals .modal .flex .txt .work_list {
    right: 10px;
    bottom: 15px;
  }
}
/* line 1142, ../sass/style.scss */
#modal_sec .inner .modals .modal .flex .txt .work_list a {
  display: inline-block;
  font-size: 18px;
  color: #006f40;
  border: 1px solid #2ba052;
  padding: 10px 58px;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 1142, ../sass/style.scss */
  #modal_sec .inner .modals .modal .flex .txt .work_list a {
    font-size: 15px;
    padding: 10px 40px;
  }
}
/* line 1153, ../sass/style.scss */
#modal_sec .inner .modals .modal .flex .txt .work_list a::before {
  content: '';
  display: block;
  width: 30px;
  height: 1px;
  background-color: #2ba052;
  position: absolute;
  right: 10px;
  bottom: 8px;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  /* line 1153, ../sass/style.scss */
  #modal_sec .inner .modals .modal .flex .txt .work_list a::before {
    width: 20px;
  }
}
/* line 1167, ../sass/style.scss */
#modal_sec .inner .modals .modal .flex .txt .work_list a::after {
  content: '';
  display: block;
  width: 10px;
  height: 1px;
  background-color: #2ba052;
  transform: rotateZ(45deg);
  position: absolute;
  right: 9px;
  bottom: 12px;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  /* line 1167, ../sass/style.scss */
  #modal_sec .inner .modals .modal .flex .txt .work_list a::after {
    width: 7;
  }
}
/* line 1182, ../sass/style.scss */
#modal_sec .inner .modals .modal .flex .txt .work_list a:hover {
  background-color: #2ba052;
  color: #FFF;
}
/* line 1185, ../sass/style.scss */
#modal_sec .inner .modals .modal .flex .txt .work_list a:hover::before {
  background-color: #FFF;
}
/* line 1188, ../sass/style.scss */
#modal_sec .inner .modals .modal .flex .txt .work_list a:hover::after {
  background-color: #FFF;
}
@media screen and (max-width: 768px) {
  /* line 1196, ../sass/style.scss */
  #modal_sec .inner .modals .modal .google_map {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
  }
}
/* line 1203, ../sass/style.scss */
#modal_sec .inner .modals .modal .google_map iframe {
  width: 100%;
  height: 400px;
  vertical-align: bottom;
}
@media screen and (max-width: 768px) {
  /* line 1203, ../sass/style.scss */
  #modal_sec .inner .modals .modal .google_map iframe {
    height: 100%;
  }
}
/* line 1212, ../sass/style.scss */
#modal_sec .inner .modals .modal .close {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -50px;
  right: -50px;
}
@media screen and (max-width: 768px) {
  /* line 1212, ../sass/style.scss */
  #modal_sec .inner .modals .modal .close {
    width: 40px;
    height: 40px;
    top: -40px;
    right: -40px;
  }
}
/* line 1224, ../sass/style.scss */
#modal_sec .inner .modals .modal .close::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 50px;
  background-color: #FFF;
  transform: rotate(45deg);
}
@media screen and (max-width: 1080px) {
  /* line 1224, ../sass/style.scss */
  #modal_sec .inner .modals .modal .close::before {
    left: -50%;
  }
}
@media screen and (max-width: 768px) {
  /* line 1224, ../sass/style.scss */
  #modal_sec .inner .modals .modal .close::before {
    height: 40px;
  }
}
/* line 1241, ../sass/style.scss */
#modal_sec .inner .modals .modal .close::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 50px;
  background-color: #FFF;
  transform: rotate(315deg);
}
@media screen and (max-width: 1080px) {
  /* line 1241, ../sass/style.scss */
  #modal_sec .inner .modals .modal .close::after {
    left: -50%;
  }
}
@media screen and (max-width: 768px) {
  /* line 1241, ../sass/style.scss */
  #modal_sec .inner .modals .modal .close::after {
    height: 40px;
  }
}

/* line 1264, ../sass/style.scss */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 11;
}
