// mixin //
@import "./mixin";

// color
$color01: #000;
$color02: #FFF;
$color03: #2ba052;
$color04: #e8801a;
$color05: #d5ecdc;
$color06: #006f40;

// pc,sp切り替え
.sm{
	display: none !important;
}
@include sm_max {
	.sm{
		display: block !important;
	}
	.md{
		display: none !important;
	}
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
body {
    font-family: 'Lato', 'Noto Sans JP', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
    width: 100%;
    color: $color01;
}
.wrap {
    overflow: hidden;
}
a {
    text-decoration: none;
    transition: 0.3s;
}
ul {
    list-style: none;
}
.inner {
    max-width: 980px;
    margin: 0 auto;
    padding-top: 70px;
    @include sm_max {
        width: 92%;
        padding-top: 30px;
    }
}
.sec_ttl {
    text-align: center;
    color: $color03;
    margin-bottom: 49px;
    position: relative;
    @include sm_max {
        margin-bottom: 30px;
    }
    h2 {
        position: relative;
        z-index: 1;
        display: inline-block;
        padding: 0 10px;
        background-color: $color02;
        font-weight: 300;
        font-size: 60px;
        margin-bottom: 22px;
        @include sm_max {
            font-size: 34px;
            margin-bottom: 5px;
        }
    }
    span {
        display: block;
    }
    &::after {
        content: '';
        display: block;
        width: 100vw;
        height: 1px;
        background-color: $color04;
        position: absolute;
        left: calc((980px - 100vw) / 2);
        top: 34%;
        @include tb_max {
            left: -4vw;
        }
    }
}
img {
    vertical-align: bottom;
}

header {
    height: 100px;
    width: 100%;
    background-color: $color02;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    @include sm_max {
        height: 50px;
        padding: 0 0 0 10px;
    }
    .inner {
        max-width: initial;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding-top: 0;
        @include sm_max {
            width: 100%;
        }
        .header_logo {
            img {
                @include sm_max {
                    width: 200px;    
                }
            }
        }
        .menu {
            @include sm_max {
                display: none;
                position: absolute;
                top: 50px;
                left: 0;
                width: 100%;
                background-color: rgba($color03, 0.9);
            }
            ul {
                display: flex;
                align-items: center;
                @include sm_max {
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    margin-top: 10px;
                }
                li {
                    margin-right: 49px;
                    @include sm_max {
                        width: 100%;
                        margin-right: 0;
                        text-align: center;
                        padding: 16px;
                    }
                    &:first-child {
                        font-size: 14px;
                    }
                    &:last-child {
                        margin-right: 0;
                        font-size: 18px;
                        a {
                            color: $color02;
                            display: inline-block;
                            padding: 14px 52px;
                            background-color: $color03;
                            @include sm_max {
                                color: $color03;
                                background-color: $color02;
                                width: 100%;
                            }
                            &::after {
                                display: none;
                            }
                            &:hover {
                                background-color: $color04;
                                border-bottom: none;
                                @include sm_max {
                                    color: $color02;
                                }
                            }
                        }
                    }
                    a {
                        color: $color03;
                        display: inline-block;
                        position: relative;
                        @include sm_max {
                            color: $color02;
                            display: block;
                        }
                        &::after {
                            position: absolute;
                            bottom: 2px;
                            left: 0;
                            content: '';
                            width: 100%;
                            height: 2px;
                            background: $color03;
                            opacity: 0;
                            visibility: hidden;
                            transition: .3s;
                            @include sm_max {
                                display: none;
                            }
                        }
                        &:hover {
                            &::after {
                                bottom: -9px;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
        .menu_ham {
            display: none;
            @include sm_max {
                display: block;
            }
            position: relative;
            width: 50px;
            height: 50px;
            cursor: pointer;
            background-color: $color03;
            .ham_line {
                position: absolute;
                left: 12.5px;
                width: 25px;
                height: 1px;
                background-color: $color02;
                transition: all 0.3s;
            }
            .ham_line1 {
                top: 17px;
            }
            .ham_line2 {
                top: 25px;
            }
            .ham_line3 {
                top: 33px;
            }
            .active.ham_line1{
                transform: rotate(45deg);
                top: 25px;
            }
            .active.ham_line2 {
                width: 0;
            }
            .active.ham_line3 {
                transform: rotate(-45deg);
                top: 25px;
            }
        }
    }
}

#kv {
    padding: 100px 40px 0;
    @include sm_max {
        padding: 50px 0 0;
    }
    .inner {
        padding: 0 0 10px 0;
        max-width: initial;
        position: relative;
        @include sm_max {
            width: 100%;
        }
        .kv_slider {
            li {
                img {
                    width: 100%;
                }
            }
        }
        .ttl {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            @include sm_max {
                top: calc(50% - 24px);
            }
            h1 {
                font-weight: 300;
                span {
                    display: inline-block;
                    padding: 22px 45px;
                    font-size: 60px;
                    color: $color02;
                    background-color: $color03;
                    @include sm_max {
                        font-size: 28px;
                        padding: 8px 12px;
                    }
                    &:first-child {
                        margin-bottom: 20px;
                        @include sm_max {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
        .scroll {
            margin-top: 19px;
            display: inline-block;
            transition: 0.3s;
            cursor: pointer;
            @include sm_max {
                margin-top: 10px;
            }
            p {
                color: $color03;
                font-size: 14px;
                @include sm_max {
                    font-size: 12px;
                }
            }
            img {
                width: 13px;
                @include sm_max {
                    width: 11px;
                }
            }
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

#sec_01 {
    padding: 0 40px 100px;
    @include sm_max {
        padding: 0 0 50px;
    }
    .inner {
        .sub_ttl {
            color: $color03;
            margin-bottom: 36px;
            h3 {
                font-size: 40px;
                font-weight: 300;
                margin-bottom: 8px;
                @include sm_max {
                    font-size: 30px;
                    margin-bottom: 4px;
                }
            }
            span {
                font-size: 14px;
            }
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: $color04;
                position: relative;
                top: 15px;
                @include sm_max {
                    top: 10px;
                }
            }
        }
        .shop_list {
            .item_list {
                display: flex;
                flex-wrap: wrap;
                .item {
                    width: calc(100% / 4 - 15px);
                    margin-right: 20px;
                    margin-bottom: 20px;
                    position: relative;
                    cursor: pointer;
                    transition: 0.3s;
                    @include sm_max {
                        width: calc(100% / 2 - 6px);
                        margin-right: 12px;
                        margin-bottom: 12px;
                        &:nth-child(2n) {
                            margin-right: 0;
                        }
                    }
                    &:hover {
                        opacity: 0.7;
                    }
                    &:nth-child(4n) {
                        margin-right: 0;
                    }
                    img {
                        width: 100%;
                    }
                    .detail {
                        font-size: 14px;
                        background-color: rgba($color: $color04, $alpha: 0.9);
                        position: absolute;
                        left: 0;
                        bottom: 24px;
                        width: 100%;
                        height: 35px;
                        line-height: 35px;
                        @include sm_max {
                            bottom: 12px;
                        }
                        span {
                            color: $color03;
                            z-index: 2;
                            position: relative;
                            display: inline-block;
                            width: 50px;
                            height: 50px;
                            border-radius: 30px;
                            background-color: $color02;
                            line-height: 50px;
                            text-align: center;
                            top: -8px;
                            margin-left: 10px;
                        }
                        p {
                            display: inline;
                            position: relative;
                            color: $color02;
                            margin-left: 10px;
                            top: -8px;
                            @include sm_max {
                                font-size: 10px;
                            }
                        }
                        .two_rows {
                            position: absolute;
                            left: 62px;
                            top: 2px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
        .job_type {
            margin-top: 70px;
            @include sm_max {
                margin-top: 30px;
            }
            .item_list {
                display: flex;
                flex-wrap: wrap;
                .item {
                    background-color: $color03;
                    color: $color02;
                    width: calc(100% / 4 - 15px);
                    height: 260px;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    padding: 24px 20px 20px 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    position: relative;
                    @include sm_max {
                        width: calc(100% / 2 - 6px);
                        margin-right: 12px;
                        margin-bottom: 12px;
                        padding: 14px 10px 10px 10px;
                        height: auto;
                        &:nth-child(2n) {
                            margin-right: 0;
                        }
                    }
                    &:nth-child(4n) {
                        margin-right: 0;
                    }
                    .item_ttl {
                        text-align: center;
                        margin-bottom: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .two_rows {
                            line-height: 24px;
                        }
                        h4 {
                            display: inline-block;
                            height: 60px;
                            font-size: 18px;
                            line-height: 46px;
                            position: relative;
                            @include sm_max {
                                height: 55px;
                                font-size: 15px;
                                line-height: 40px;
                            }
                            &::after {
                                content: '';
                                width: 30px;
                                height: 1px;
                                background-color: $color05;
                                position: absolute;
                                left: 50%;
                                bottom: 0;
                                transform: translateX(-50%);
                            }
                        }
                    }
                    .detail {
                        z-index: 1;
                        p {
                            font-size: 14px;
                            line-height: 22px;
                            margin-bottom: 16px;
                        }
                    }
                    .job_list {
                        margin-top: auto;
                        z-index: 1;
                        a {
                            display: inline-block;
                            background-color: $color02;
                            color: $color03;
                            text-align: center;
                            padding: 4px;
                            width: 100%;
                            border-radius: 5px;
                            font-size: 14px;
                            line-height: 22px;
                            position: relative;
                            &::before {
                                content: '';
                                display: block;
                                width: 25px;
                                height: 1px;
                                background-color: $color03;
                                position: absolute;
                                right: 10px;
                                bottom: 12px;
                                transition: 0.3s;
                            }
                            &::after {
                                content: '';
                                display: block;
                                width: 10px;
                                height: 1px;
                                background-color: $color03;
                                transform: rotateZ(45deg);
                                position: absolute;
                                right: 9px;
                                bottom: 16px;
                                transition: 0.3s;
                            }
                            &:hover {
                                background-color: $color04;
                                color: $color02;
                                &::before {
                                    background-color: $color02;
                                }
                                &::after {
                                    background-color: $color02;
                                }
                            }
                        }
                    }
                    .img {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        img {
                            width: 70%;
                        }
                    }
                }
            }
        }
        .work_type {
            margin-top: 30px;
            .item_list {
                    display: flex;
                    flex-wrap: wrap;
                .item {
                    width: calc(100% / 3  - (40px / 3));
                    height: 100px;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    line-height: 100px;
                    text-align: center;
                    @include sm_max {
                        width: 100%;
                        height: 90px;
                        line-height: 90px;
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                    a {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        color: $color06;
                        background-color: $color05;
                        font-size: 20px;
                        position: relative;
                        @include sm_max {
                            font-size: 18px;
                        }
                        &::before {
                            content: '';
                            display: block;
                            width: 75px;
                            height: 1px;
                            background-color: $color03;
                            position: absolute;
                            right: 10px;
                            bottom: 10px;
                            transition: 0.3s;
                        }
                        &::after {
                            content: '';
                            display: block;
                            width: 10px;
                            height: 1px;
                            background-color: $color03;
                            transform: rotateZ(45deg);
                            position: absolute;
                            right: 9px;
                            bottom: 14px;
                            transition: 0.3s;
                        }
                        &:hover {
                            color: $color02;
                            background-color: $color03;
                            &::before {
                                background-color: $color02;
                            }
                            &::after {
                                background-color: $color02;
                            }
                        }
                    }
                }
            }
        }
        .employment_status {
            margin-top: 30px;
            .item_list {
                display: flex;
                justify-content: center;
                @include sm_max {
                    flex-wrap: wrap;
                }
                .item {
                    width: 313px;
                    height: 100px;
                    margin-right: 20px;
                    line-height: 100px;
                    text-align: center;
                    @include sm_max {
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 10px;
                        height: 90px;
                        line-height: 90px;
                    }
                    &:last-child {
                        margin-right: 0;
                        @include sm_max {
                            margin-bottom: 0;
                        }
                    }
                    a {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        color: $color02;
                        background-color: $color03;
                        font-size: 20px;
                        position: relative;
                        @include sm_max {
                            font-size: 18px;
                        }
                        &::before {
                            content: '';
                            display: block;
                            width: 75px;
                            height: 1px;
                            background-color: $color02;
                            position: absolute;
                            right: 10px;
                            bottom: 10px;
                            transition: 0.3s;
                        }
                        &::after {
                            content: '';
                            display: block;
                            width: 10px;
                            height: 1px;
                            background-color: $color02;
                            transform: rotateZ(45deg);
                            position: absolute;
                            right: 9px;
                            bottom: 14px;
                            transition: 0.3s;
                        }
                        &:hover {
                            color: $color06;
                            background-color: $color05;
                            &::before {
                                background-color: $color06;
                            }
                            &::after {
                                background-color: $color06;
                            }
                        }
                    }
                }
            }
        }
    }
}

#sec_02 {
    padding: 0 40px;
    background-color: $color03;
    @include sm_max {
        padding: 0;
    }
    .inner {
        padding-bottom: 100px;
        @include sm_max {
            padding-bottom: 50px;
        }
        .sec_ttl {
            h2 {
                color: $color02;
                background-color: $color03;
            }
            span {
                color: $color02;
            }
            &::after {
                background-color: $color02;
            }
        }
        .box_list {
            display: flex;
            flex-wrap: wrap;
            .box {
                padding: 30px 20px 30px 30px;
                @include sm_max {
                    padding: 20px 10px 20px 20px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                &:nth-child(odd) {
                    margin-right: 20px;
                    @include sm_max {
                        margin-right: 0;
                    }
                }
            }
            .sub_ttl {
                text-align: center;
                h3 {
                    color: $color04;
                    font-size: 24px;
                    font-weight: normal;
                    @include sm_max {
                        font-size: 22px;
                    }
                }
            }
            .box_01 {
                width: calc(100% / 2 - 20px);
                height: 444px;
                background-color: $color02;
                margin-bottom: 20px;
                @include sm_max {
                    width: 100%;
                    height: auto;
                    margin-bottom: 10px;
                }
                .img {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                .sub_ttl {
                    margin: 16px 0;
                }
                .detail {
                    p {
                        color: $color06;
                        line-height: 24px;
                    }
                }
            }
            .box_02 {
                width: calc(100% / 2 - 20px);
                height: 331px;
                background-color: $color02;
                @include sm_max {
                    width: 100%;
                    height: auto;
                    margin-bottom: 10px;
                }
                .sub_ttl {
                    margin-bottom: 10px;
                }
                .item_list {
                    .item {
                        &:first-child {
                            margin-bottom: 20px;
                        }
                        .item_ttl {
                            display: flex;
                            align-items: center;
                            border-bottom: 1px solid $color03;
                            padding-bottom: 10px;
                            margin-bottom: 10px;
                            width: 100%;
                            img {
                                width: 59px;
                                @include sm_max {
                                    width: 50px;
                                }
                            }
                            h4 {
                                color: $color06;
                                font-weight: normal;
                                font-size: 20px;
                                margin-left: 10px;
                                margin-top: 10px;
                                @include sm_max {
                                    font-size: 18px;
                                }
                            }
                        }
                        .detail {
                            p {
                                color: $color06;
                                line-height: 24px;
                                @include sm_max {
                                    line-height: 20px;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#sec_03 {
    padding: 0 40px 100px;
    @include sm_max {
        padding: 0 0 50px;
    }
    .inner {
        .sec_ttl {
            span {
                color: $color06;
            }
        }
        .question_list {
            .item {
                border-bottom: 1px solid $color06;
                padding-bottom: 20px;
                display: flex;
                margin-bottom: 20px;
                @include sm_max {
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                }
                .num {
                    font-size: 48px;
                    color: $color04;
                    font-weight: 300;
                    margin-right: 14px;
                    @include sm_max {
                        font-size: 30px;
                    }
                }
                .detail {
                    color: $color06;
                    margin-top: 16px;
                    @include sm_max {
                        margin-top: 5px;
                    }
                    .question {
                        margin-bottom: 25px;
                        @include sm_max {
                            margin-bottom: 15px;
                        }
                        p {
                            font-size: 24px;
                            @include sm_max {
                                font-size: 16px;
                            }
                        }
                    }
                    .answer {
                        margin-top: -4px;
                        p {
                            font-size: 16px;
                            line-height: 28px;
                            @include sm_max {
                                font-size: 14px;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#sec_04 {
    background-color: $color05;
    padding-bottom: 0;
    @include sm_max {
        padding: 0;
    }
    .inner {
        padding-bottom: 70px;
        @include sm_max {
            padding-bottom: 50px;
        }
        .sec_ttl {
            color: $color06;
            @include sm_max {
                margin-bottom: 20px;
            }
            h2 {
                background-color: $color05;
            }
            &::after {
                background-color: $color06;
            }
        }
        .table_list {
            display: flex;
            justify-content: center;
            @include sm_max {
                flex-direction: column;
            }
            table {
                color: $color06;
                width: calc(100% / 2 - 20px);
                @include sm_max {
                    width: 100%;
                    font-size: 14px;
                }
                &:last-child {
                    margin-left: 20px;
                    @include sm_max {
                        margin-left: 0;
                    }
                }
                tr {
                    border-bottom: 1px solid #80c697;
                    @include sm_max {
                        display: block;
                    }
                    th {
                        padding: 16px 10px;
                        text-align-last: left;
                        font-weight: normal;
                        @include sm_max {
                            display: block;
                            padding: 12px 6px;
                        }
                    }
                    td {
                        @include sm_max {
                            display: block;
                            padding-left: 6px;
                            padding-bottom: 12px;
                        }
                    }
                }
            }
        }
    }
}

.google_map {
    iframe {
        vertical-align: bottom;
        width: 100vw;
        @include sm_max {
            height: 300px;
        }
    }
}

footer {
    padding: 0 40px;
    background-color: $color03;
    height: 60px;
    @include sm_max {
        height: 50px;
        padding: 0;
    }
    .inner {
        height: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        color: $color02;
        @include sm_max {
            font-size: 11px;
            flex-direction: column-reverse;
            justify-content: center;
            line-height: initial;
        }
        a {
            color: $color02;
        }
        .footer_left {
            @include sm_max {
                margin-bottom: 4px;    
            }
        }
    }
}

#modal_sec {
    .inner {
        padding: 0;
        .modals {
            .modal {
                display: none;
                width: 100%;
                max-width: 980px;
                position: fixed;
                z-index: 11;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: $color02;
                @include sm_max {
                    width: 92%;
                    height: 90%;
                    top: 40px;
                    transform: translateX(-50%);
                }
                .flex {
                    display: flex;
                    @include sm_max {
                        flex-direction: column;
                        height: 70%;
                    }
                    .img {
                        width: 50%;
                        @include sm_max {
                            width: 100%;
                        }
                        img {
                            width: 100%;
                            vertical-align: top;
                        }
                    }
                    .txt {
                        width: 50%;
                        padding: 30px 30px 20px 30px;
                        position: relative;
                        @include sm_max {
                            width: 100%;
                            height: 100%;
                            padding: 15px 10px 15px 15px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                        }
                        .modal_ttl {
                            margin-bottom: 26px;
                            @include sm_max {
                                margin-bottom: 10px;
                                text-align: center;
                            }
                            p {
                                font-size: 30px;
                                color: $color06;
                                @include sm_max {
                                    font-size: 20px;
                                }
                            }
                        }
                        .header {
                            margin-bottom: 10px;
                            @include sm_max {
                                margin-bottom: 5px;
                            }
                            p {
                                display: inline-block;
                                background-color: $color03;
                                color: $color02;
                                padding: 8px 25px;
                                @include sm_max {
                                    font-size: 15px;
                                }
                            }
                        }
                        .detail {
                            p {
                                color: $color06;
                                line-height: 28px;
                                @include sm_max {
                                    font-size: 14px;
                                    line-height: 1.3;
                                }
                            }
                        }
                        .location {
                            .detail {
                                margin-bottom: 10px;
                                @include sm_max {
                                    margin-bottom: 1.2vh;
                                }
                            }
                        }
                        .tel{
                            margin-top: 10px;
                            @include sm_max {
                                margin-top: 0px;
                            }
                        }
                        .work_list {
                            position: absolute;
                            right: 30px;
                            bottom: 20px;
                            @include sm_max {
                                right: 10px;
                                bottom: 15px;
                            }
                            a {
                                display: inline-block;
                                font-size: 18px;
                                color: $color06;
                                border: 1px solid $color03;
                                padding: 10px 58px;
                                position: relative;
                                @include sm_max {
                                    font-size: 15px;
                                    padding: 10px 40px;
                                }
                                &::before {
                                    content: '';
                                    display: block;
                                    width: 30px;
                                    height: 1px;
                                    background-color: $color03;
                                    position: absolute;
                                    right: 10px;
                                    bottom: 8px;
                                    transition: 0.3s;
                                    @include sm_max {
                                        width: 20px;
                                    }
                                }
                                &::after {
                                    content: '';
                                    display: block;
                                    width: 10px;
                                    height: 1px;
                                    background-color: $color03;
                                    transform: rotateZ(45deg);
                                    position: absolute;
                                    right: 9px;
                                    bottom: 12px;
                                    transition: 0.3s;
                                    @include sm_max {
                                        width: 7;
                                    }
                                }
                                &:hover {
                                    background-color: $color03;
                                    color: $color02;
                                    &::before {
                                        background-color: $color02;
                                    }
                                    &::after {
                                        background-color: $color02;
                                    }
                                }
                            }
                        }
                    }
                }
                .google_map {
                    @include sm_max {
                        width: 100%;
                        height: 30%;
                        position: absolute;
                        bottom: 0;
                    }
                    iframe {
                        width: 100%;
                        height: 400px;
                        vertical-align: bottom;
                        @include sm_max {
                            height: 100%;
                        }
                    }
                }
                .close {
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: -50px;
                    right: -50px;
                    @include sm_max {
                        width: 40px;
                        height: 40px;
                        top: -40px;
                        right: -40px;
                    }
                    &::before {
                        display: block;
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 50%;
                        width: 2px;
                        height: 50px;
                        background-color: $color02;
                        transform: rotate(45deg);
                        @media screen and (max-width: 1080px) {
                            left: -50%;
                        }
                        @include sm_max {
                            height: 40px;
                        }
                    }
                    &::after {
                        display: block;
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 50%;
                        width: 2px;
                        height: 50px;
                        background-color: $color02;
                        transform: rotate(315deg);
                        @media screen and (max-width: 1080px) {
                            left: -50%;
                        }
                        @include sm_max {
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 11;
}