<footer style="padding: 0;">
    <div class="inner">
        <div class="footer_left">
            <p class="copylight" style="color: white;">Copyright &copy; 2020 株式会社トヨタレンタリース沖縄</p>
        </div>
        <div class="footer_right">
            <p style="color: white;"><a href="https://www.oki-toyota-rent.jp/" style="color: white;">企業サイトTOP</a> 　|　<a href="https://www.oki-toyota-rent.jp/pdf/privacy.pdf" style="color: white;">プライバシーポリシー</a></p>
        </div>
    </div>
</footer>